<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Klana</title>
	<!--Core CSS -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/klana/css/animate.css">
    <link href="/klana/css/bootstrap.min.css" rel="stylesheet">
	 <!-- Custom styles for this template -->
    <link href="/klana/style.css" rel="stylesheet">
    <link href="/klana/css/style-responsive.css" rel="stylesheet">
  </head>
  <body >
  <!-- Header Section Start -->
	<header id="header_part">
		<div class="header_part" id="head">
			<div class="overlay">
				<div class="start_part">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<!-- Logo Start -->
										<div class="site_logo">
											<center><a href="#" title=""><img src="/klana/images/logo.png" class="img-responsive" width="300px" alt="" title=""/></a></center>
										</div>
										<!-- Logo End-->
										<!-- Site Title start-->
										<div class="site_title">
											<p class="green"><strong>KLANA</strong> is an advertising and sales platform that allows brands to utilize excess capacities of ride-share drivers and salespeople<br> to increase <strong>brand awareness</strong>, <strong>exposure</strong> and <strong>ultimately drive customer acquisitions</strong></p>
										</div>
										<!-- Site Title end-->
                    <div class="welcome_section">
                			<div class="container">
                				<div class="row">
                					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                						<div class="row">
                						<!-- About text start -->
                							<div class="section-title">
                								<h2>Our Services</h2>
                							</div>
                						<!-- About text end -->
                						</div>
                						<!-- About service part start-->
                						<div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="welcome_part wow fadeInDown">
                                  <img width="360" class="img-responsive" src="/klana/images/Klana_Illustration_Rally Offers.png"></img>
                                  <h2>Sticker Branding</h2>
                                  <p>Focus on your ads on specific locations on specific time for maximum effect</p>
                                </div>
                              </div>
              								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              									<div class="welcome_part wow fadeInLeft">
              										<img width="360" class="img-responsive" src="/klana/images/Klana_Illustration_Brand Ambassador.png"></img>
              										<h2>In Car Branding</h2>
              										<p>Our drivers also serve as your company’s personal everyday brand ambassadors</p>
              									</div>
              								</div>
                							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                								<div class="welcome_part wow fadeInUp">
                									<img width="360" class="img-responsive" src="/klana/images/Klana_Illustration_Personal Ambassador 2.png"></img>
                									<h2>Sales Reimagined</h2>
                									<p>Independent salespeople on a cost/achievement basis to help you achieve your sales/acquisition targets</p>
                								</div>
                							</div>
                						</div>
                						<!-- About service part end-->
                					</div>
                				</div>
                			</div>
                		</div>
									</div>
								</div>
							</div>
						</div>
				</div>

			</div>
		</div>
	</header>
  <!-- Header Section End -->
  <!-- About Section Start -->
	<section id="welcome_section">

	</section>
  <!-- About Section End -->
  <br><br><br><br><br><br><br><br><br><br><br>

  <section class="row" style="background-image: url('/img/banner_macet.jpg'); background-repeat:no-repeat;background-size:cover;  margin-top:-21px">
    <div class="container">
      <div class="clearfix"></div>

      <br><br>
      <div class="clearfix"></div>
      <div class="col l2 m2 s6 push-l5 push-s3 white-text">
        <a href="https://www.facebook.com/kelanain/" class="inline"><i class="fa fa-facebook-square fa-2x white-text"></i></a>
        <a href="https://www.instagram.com/klana.in/" class="inline"><i class="fa fa-instagram fa-2x white-text"></i></a>
        <a href="https://www.twitter.com/klanain/" class="inline"><i class="fa fa-twitter-square fa-2x white-text"></i></a>
      </div>

      <div class="clearfix"></div>
      <p class="white-text center">connect@klana.in</p>
      <p class="white-text center"><b>PT Klana Teknologika</b></p>
      <h6 class="light white-text">Bellagio Boutique Office OL2-18<br>
        Jl. Mega Kuningan Barat Kav. E4 No.3, <br>
        Kuningan Timur, Setiabudi, DKI Jakarta 12950
      </h6>
    </div>
  </section>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/klana/js/bootstrap.min.js"></script>
    <script src="/klana/js/jquery.smooth-scroll.js"></script>
    <script src="/klana/js/wow.min.js"></script>
    <script src="/klana/js/jquery.nicescroll.min.js"></script>
    <script src="/klana/js/jquery.countdown.min.js"></script>
	<!--common script init for all pages-->
    <script src="/klana/js/script.js"></script>

  </body>
</html>
