<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Klana</title>
	<!--Core CSS -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/klana/css/animate.css">
    <link href="/klana/css/bootstrap.min.css" rel="stylesheet">
	 <!-- Custom styles for this template -->
    <link href="/klana/style.css" rel="stylesheet">
    <link href="/klana/css/style-responsive.css" rel="stylesheet">
  </head>
  <body >
  <!-- Header Section Start -->
	<header id="header_part">
		<div class="header_part" id="head">
			<div class="overlay">
				<div class="start_part">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<!-- Logo Start -->
										<div class="site_logo">
											<a href="#" title=""><img src="/klana/images/logo.png" alt="" title=""/></a>
										</div>
										<!-- Logo End-->
										<!-- Site Title start-->
										<div class="site_title">

											<h1 class="green">Coming back soon</h1>
											<p class="green"><strong>KLANA</strong> is an advertising and sales platform that allows brands to utilize excess capacities of ride-share drivers and salespeople<br> to increase <strong>brand awareness</strong>, <strong>exposure</strong> and <strong>ultimately drive customer acquisitions</strong></p>
										</div>
										<!-- Site Title end-->
									</div>
								</div>
							</div>
						</div>
				</div>

			</div>
		</div>
	</header>
  <!-- Header Section End -->
  <!-- About Section Start -->
	<section id="welcome_section">
		<div class="welcome_section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row">
						<!-- About text start -->
							<div class="section-title">
								<h2>Our Services</h2>
							</div>
						<!-- About text end -->
						</div>
						<!-- About service part start-->
						<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									<div class="welcome_part wow fadeInLeft">
										<img width="360" src="/klana/images/Klana_Illustration_Brand Ambassador.png"></img>
										<h2>In Car Branding</h2>
										<p>Our drivers also serve as your company’s personal everyday brand ambassadors</p>
									</div>
								</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class="welcome_part wow fadeInUp">
									<img width="360" src="/klana/images/Klana_Illustration_Personal Ambassador 2.png"></img>
									<h2>Sales Reimagined</h2>
									<p>Independent salespeople on a cost/achievement basis to help you achieve your sales/acquisition targets</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class="welcome_part wow fadeInDown">
									<img width="360" src="/klana/images/Klana_Illustration_Rally Offers.png"></img>
									<h2>Rally Offers</h2>
									<p>Focus on your ads on specific locations on specific time for maximum effect</p>
								</div>
							</div>
						</div>
						<!-- About service part end-->
					</div>
				</div>
			</div>
		</div>
	</section>
  <!-- About Section End -->
  <br><br><br><br><br><br><br><br><br><br><br>
  <!-- Contact Section Start -->
	<section id="contact_section">
		<div class="contact_section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="section-title white">
							<h2>Contact Us</h2>
						</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="address_part white" >
								<div class="address"><strong>PT Klana Teknologika</strong><br>
                  Bellagio Boutique Office OL2-18<br>
Jl. Mega Kuningan Barat Kav. E4 No.3, <br>
Kuningan Timur, Setiabudi, DKI Jakarta 12950
								</div>
								<div class="email">
									<i class="fa fa-envelope-o"></i> connect@klana.in
								</div>
							</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="contact_form">
									<div id="show_contact_msg"></div>
								</div>
							</div>
					</div>
				</div>
			</div>
			</div>
      <br><br><br><br><br><br>
		</div>
	</section>
  <!-- Contact Section End -->
   <!--Core js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/klana/js/bootstrap.min.js"></script>
    <script src="/klana/js/jquery.smooth-scroll.js"></script>
    <script src="/klana/js/wow.min.js"></script>
    <script src="/klana/js/jquery.nicescroll.min.js"></script>
    <script src="/klana/js/jquery.countdown.min.js"></script>
	<!--common script init for all pages-->
    <script src="/klana/js/script.js"></script>
	<script>
	/* ==============================================
	Ajax Submiting For Email Subscriber Form.
	=====================================================================*/
	$("#subscriber_form").submit(function(e)
	{
	$('#show_subscriber_msg').html('<div class=gen>Submiting..</div>');
	var subscriberemail = $('#subscriberemail').val();
		var formURL = $(this).attr("action");
		var data = {
					subscriberemail:subscriberemail
				   }
		$.ajax(
		{
			url : formURL,
			type: "POST",
			data : data,

		 success: function (res) {
								 if(res=='1'){
									$('#show_subscriber_msg').html('<div class=gen>Thank you very much, We will notify you when we lunch</div>');
								 }

								 if(res=='5'){
								 $('#show_subscriber_msg').html('<div class=err>Please enter a valid email address</div>');
								 }
							}
		});
		e.preventDefault();	//STOP default action
	});
	/* ==============================================
	Ajax Submiting For Email Contact Form.
	=====================================================================*/
	$("#contact_form").submit(function(e)
	{
	$('#show_contact_msg').html('<div class=gen>Submiting..</div>');
	var username = $('#contact_name').val();
	var useremail = $('#contact_email').val();
	var commenttext = $('#contact_text').val();
		var formURL = $(this).attr("action");
		var data = {
					username:username,
					useremail:useremail,
					commenttext:commenttext,
				   }
		$.ajax(
		{
			url : formURL,
			type: "POST",
			data : data,

		 success: function (res) {
								 if(res=='1'){
									$('#show_contact_msg').html('<div class=gen>Thank you very much, We will notify you when we lunch</div>');
								 }

								 if(res=='5'){
								 $('#show_contact_msg').html('<div class=err>Please enter a valid email address</div>');
								 }
							}
		});
		e.preventDefault();	//STOP default action
	});
	</script>
  </body>
</html>
